<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caster_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,452},{54,66}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,197},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,352},{24,20}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,208},{24,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,468},{54,20}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,202},{54,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,154},{46,48}}</string>
                <key>offset</key>
                <string>{-21,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,204},{46,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,174},{230,144}}</string>
                <key>offset</key>
                <string>{49,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,72},{230,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,442},{72,54}}</string>
                <key>offset</key>
                <string>{43,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,174},{72,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,326},{24,24}}</string>
                <key>offset</key>
                <string>{33,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,185},{24,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,432},{40,70}}</string>
                <key>offset</key>
                <string>{36,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,193},{40,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caster.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53cf150fec50c25ffd23c59e8bd82d8a$</string>
            <key>textureFileName</key>
            <string>caster.png</string>
        </dict>
    </dict>
</plist>
